@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "微軟正黑體";
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  color: #D47A66;
  font-size: 28px;
  letter-spacing: 1px;
}

h2 {
  font-size: 22px;
  color: #716246;
  font-weight: 550;
  letter-spacing: 0.75px;
}

h3 {
  color: #716246;
  font-weight: 300;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  background: white;
  line-height: 1.3em;
}

h4 {
  font-size: 16px;
  color: #716246;
  font-weight: 300;
  line-height: 1.5em;
}

h5 {
  color: #D47A66;
  font-size: 15px;
  letter-spacing: 0.75px;
}

h6 {
  font-size: 13px;
  color: #a79066;
  letter-spacing: 0.75px;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  width: 70%;
}

body {
  background-color: #F6F4F0;
  margin: 0;
}

.text-center {
  text-align: center;
}

/* 頁首開始 */
header {
  background-color: #E3DDCC;
  position: relative;
}

header img {
  display: block;
  position: relative;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100px;
}

header nav > ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

header nav > ul > li {
  position: relative;
}

header nav > ul > li > a {
  color: #716246;
  letter-spacing: 1.5px;
}

header .submenu {
  position: absolute;
  top: 22px;
  display: none;
  text-align: center;
}

.submenu > li {
  line-height: 45px;
  width: 160%;
  background-color: white;
  text-align: center;
}

.submenu > li > a {
  color: #938781;
  text-align: center;
  display: block;
  transition: all 0.5s ease;
}

header nav > ul > li:hover .submenu {
  display: block;
}

.submenu > li:hover {
  color: #D47A66;
  background-color: #f5f4f2;
}

/* 頁首結束 */
/* banner開始 */
.banner-fluid {
  width: 100%;
  margin-bottom: 40px;
}

.banner-title {
  display: block;
  position: absolute;
  width: 25%;
  top: 180px;
  left: 80px;
}

.banner-text {
  display: block;
  position: absolute;
  top: 240px;
  left: 80px;
  font-size: 18px;
  color: #716246;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin: 0;
}

/* banner結束 */
.intro-content {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
}

.intro-right {
  text-align: center;
  display: block;
  width: 70%;
  margin: auto;
}

.intro-img {
  border-radius: 100%;
  width: 90%;
}

.news-bg {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 350px;
  padding: 30px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.news-content {
  margin: 0 auto;
  width: 95%;
}

.news-title {
  color: #716246;
  line-height: 3em;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

hr {
  background-color: #E3B2A8;
  border: none;
  height: 1px;
}

.btn-more-news {
  text-align: center;
  width: 165px;
  height: 50px;
  line-height: 50px;
  background-color: #D47A66;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace, "微軟正黑體";
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn-more-news:hover {
  background-color: #c86049;
  cursor: pointer;
}

.best-seller-content {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.best-seller-left {
  width: 30%;
}

.best-seller-right {
  position: relative;
  width: 70%;
  padding-left: 10px;
}

.best-seller-img {
  display: block;
  width: 80%;
  margin: auto;
}

.best-seller-price {
  position: absolute;
  bottom: 0;
}

.btn-check-product {
  text-align: center;
  width: 120px;
  height: 50px;
  line-height: 50px;
  background-color: #D47A66;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace, "微軟正黑體";
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-check-product:hover {
  background-color: #c86049;
  cursor: pointer;
}

.magazine-title {
  margin-top: 100px;
}

.magazine-content {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 25px 15px;
}

.magazine-img {
  width: 100%;
}

.btn-more-magazine {
  text-align: center;
  width: 165px;
  height: 50px;
  line-height: 50px;
  background-color: #D47A66;
  border-radius: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace, "微軟正黑體";
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.btn-more-magazine:hover {
  background-color: #c86049;
  cursor: pointer;
}

footer {
  background-color: #E3DDCC;
  height: 190px;
}

footer ul {
  display: flex;
}

footer ul > li {
  margin: auto;
  justify-content: space-between;
  display: block;
  margin-top: 40px;
}

footer ul > li > a {
  color: #716246;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1.2px;
}

.footer-icon {
  width: 85%;
}

footer > div > p {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 20px;
  color: #716246;
  margin-bottom: 0;
}

.copyright {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.75px;
  margin-top: 20px;
}

.about-us {
  margin-top: 80px;
}

.about-us-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.logo-red {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.about-us-text {
  display: block;
  color: #716246;
  font-family: "微軟正黑體";
  margin: 25px auto 60px auto;
  text-align: center;
  line-height: 1.75em;
}

.promise {
  position: relative;
}

.promise1 {
  display: block;
}

.promise1-img {
  position: absolute;
  right: 0;
  width: 90%;
}

.promise2 {
  display: block;
  position: relative;
}

.promise2-img {
  width: 80%;
  position: absolute;
  top: 660px;
  left: 130px;
}

.promise-title-1 {
  color: #D47A66;
  position: absolute;
  left: 190px;
  top: 330px;
  font-size: 26px;
  line-height: 1.5em;
  font-weight: 400;
}

.promise-text-1 {
  color: #716246;
  position: absolute;
  left: 190px;
  top: 430px;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 300;
}

.promise-title-2 {
  color: #D47A66;
  position: absolute;
  right: 490px;
  top: 880px;
  font-size: 26px;
  line-height: 1.5em;
  font-weight: 400;
}

.promise-text-2 {
  color: #716246;
  position: absolute;
  left: 700px;
  top: 988px;
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 300;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 30px 15px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 6px;
}

.title a {
  color: #716246;
  font-size: 1.5em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.title a:hover {
  color: #D47A66;
}

.date {
  color: #938781;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.product-page-left {
  width: 20%;
}

.product-page-right {
  width: 80%;
  background-color: white;
}

.product-page-left-list {
  margin-top: 60px;
  margin-left: 50px;
  letter-spacing: 0.5px;
  line-height: 1.75em;
}

.product-page-left-list a {
  color: #716246;
}

.product-page-left-list a:hover {
  color: #D47A66;
}

.product-page-left-submenu {
  margin-left: 10px;
}

.product-page-left-submenu a {
  color: #938c80;
}

.product-page-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.category {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #c9bba9;
  color: white;
  text-align: center;
  line-height: 35px;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 18px;
}

.category-intro {
  line-height: 1.75em;
  color: #716246;
  margin: 10px;
}

.product-name {
  margin-top: 6px;
  margin-left: 5px;
  font-weight: 500;
  color: #716246;
  font-size: 18px;
}

.product-price {
  margin-top: 6px;
  margin-left: 7px;
  font-weight: 300;
  color: #716246;
  font-size: 15px;
}