@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "微軟正黑體";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  width: 70%;
}

body {
  background-color: #F6F4F0;
  margin: 0;
}

.text-center {
  text-align: center;
}

/* 頁首開始 */
header {
  background-color: #E3DDCC;
}

header img {
  display: block;
  position: relative;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

header nav > ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

header nav > ul > li > a {
  color: #716246;
  letter-spacing: 1.5px;
}

/* 頁首結束 */
/* banner開始 */
.banner-fluid {
  width: 100%;
}

.banner-title {
  position: relative;
  top: -650px;
  left: 80px;
}

body > div > div {
  position: relative;
  top: -645px;
  left: 80px;
}

body > div > div > p {
  font-size: 15px;
  color: #716246;
  line-height: 1.5em;
  letter-spacing: 1px;
  display: block;
  margin: 0;
}

/* banner結束 */
body h1 {
  margin-left: auto;
  margin-right: auto;
  color: #D47A66;
  font-size: 28px;
  letter-spacing: 1px;
}

body h5 {
  color: #D47A66;
  font-size: 18px;
}

.intro-content {
  display: flex;
  padding-bottom: 70px;
  justify-content: space-between;
}

.intro-left {
  width: 30%;
}

.intro-right {
  width: 70%;
}

.intro-img {
  border-radius: 100%;
}

body h3 {
  text-align: center;
  line-height: 3em;
}

.news-bg {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 300px;
  padding: 30px;
}