doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 毛食堂 ONE MAO PET CANTEEN
    link(rel='stylesheet' href='public/css/style.css')
  body
    header
      .container
        img(src='public/images/onemao-logo-brown.png' alt='')
        nav
          ul
            li
              a(href='#') 關於我們
            li
              a(href='#') 最新消息
            li
              a(href='#') 狗狗專區
            li
              a(href='#') 貓貓專區
            li
              a(href='#') 毛毛月刊
            li
              a(href='#') 常見問答
    // banner開始
    div
      img.banner-fluid(src='public/images/index-banner.jpg' alt='')
      img.banner-title(src='public/images/just-for-pets.png' alt='')
      div
        p
          | 從日常飲食與心理需求照顧起
          br
          | 滿足毛孩最單純的幸福
    // banner結束

    // 內容開始
    main
      div
        h6.text-center For pets
        h1.text-center 毛孩的專屬食堂
    // 內容結束
